<%- include('header.ejs') %>
<main class="mw">
  <h2>THE BLOG</h2>
  <h3>MY PAGE</h3>
  <div><img src="/uploads/logo1.png" alt="로고" class="page"></div>
  <div class="nick"> ID : <%= user.userid %></div><br>
  <div> 당신의 닉네임은 <p class="nick"><%= user.username %></p>입니다.</div>
</main>
<%- include('footer.ejs') %>
